{% extends "base.html" %}

{% block title %}Регистрация пользователя{% endblock %}

{% block content %}
    {% if user.is_anonymous %}
        <h1>Регистрация пользователя</h1>


        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% if form.error_dict %}
                <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
            {% endif %}
            {% for field in form %}
                {{ field.errors }}
                <label> {{ field.label_tag }} {% if field.required %} * {% endif %} </label>  {{ field }} <br>

            {% endfor %}

            <input type="submit" value="Зарегистрироваться"/>
        </form>

    {% else %}
        <h1>Вы уже зарегистрированы и авторизованы</h1>
    {% endif %}

{% endblock %}