{% extends "base.html" %}
{% block title %}Список альбомов{% endblock %}

{% block content %}

    <form>
        {{ search_form.search.errors }}
        {{ search_form.search.label_tag }} {{ search_form.search }} <br>
        {{ search_form.sort.label_tag }} {{ search_form.sort }}
        <input type="submit" value="Искать">
    </form>
    {% if not object_list %}
        <h2>Ничего не найдено</h2>
    {% endif %}
    {% for album in object_list %}
        <p>
            <a href="{{ album.author.get_absolute_url }}"> <b>{{ album.author }}:</b> </a><br>
            <a href="{{ album.get_absolute_url }}"> <b>{{ album.name }}</b> </a>
            Buyers = {{ album.buyers }}
        </p>
        <br><br>

    {% endfor %}

    <p>
        {% for page in paginator.page_range %}
            {% if page_obj.number != page %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% else %}
                {{ page }}
            {% endif %}
        {% endfor %}
    </p>
{% endblock %}