{% extends "base.html" %}

<b><p>{% block title %}{{ album.author }}{% endblock %}</p></b>



{% block content %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">New message</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Recipient:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-info" value="Сохранить  ">
                </div>
            </div>
        </div>
    </div>
    {% if album.photo %}
            <img src="{{ album.photo.url }}" width="250px"> </br>
    {% endif %}
    <b>{{album.name}}</b><br>
    <b>{{album.genre}}</b><br>
    <b> <a href="./../../users/{{album.author.username}}"> {{album.author.username}}</a> </b> <br>

    <b>{{album.information}}</b><br><br>

    {{ album.created_in|time:"H:i" }} {{ album.created_in|date:"d.m.y" }}<br>

    <p>Horns = {{ album.count_horns }}</p>

    {% if album.author == user %}
        {% url 'albums:album_edit' pk=album.id as edit_url %}
        <a href="{{ edit_url }}">Edit</a>
    {% endif %}

    {%if album.get_comments.all %}
    <h1> Comments: </h1> <br>

    {% for comment in album.get_comments.all %}
        <b> <a href="./../../users/{{comment.author.username}}"> {{comment.author.username}}</a>: </b> <br>
        <p>{{comment.text}}</p>
        <i>{{comment.created_in}}</i> <br><br>
    {% endfor %}
    {%endif%}

    <form method="post">{% csrf_token %}
        <b>Добавь комментарий:</b><br>
        {{form.text}}
        <input type="submit" value="Добавить">
    </form>

    {%if album.get_tracks.all %}
    <h1> Tracks: </h1> <br>

    {% for track in album.get_tracks.all %}
        <p>{{track.name}}</p>
        <p>{{track.url}}</p>
        <audio controls>
            <source src="{{track.file.url}}" type="audio/ogg; codecs=vorbis">
        </audio><br>
    {% endfor %}
    {%endif%}

{% endblock %}